<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td{
                border : 1px solid black;
            }
        </style>
        <meta charset="UTF-8">
        <title>Manage Employee</title>
    </head>
    <body>
        <table>
            <tr>
                <th>emp no</th>
                <th>name</th>
                <th>department</th>
                <th>phone</th>
            </tr>
            {% for emp in emp_list %}
            <tr>
                <td>{{emp.empno}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.department}}</td>
                <td>{{emp.phone}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr>
    </body>
</html>
